section{
    padding: 30px;
    margin-left: 10px;
}
h2{
    color: aquamarine;
    padding: 20px;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.233);
}

h3{
    color: red;
    padding: 20px;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.233);
}
section{
    margin: 50px 0;
    
}
section article{
    background-color: crimson;
    width: 50%;
    height: 100%;
    padding: 15px;
}

section article h2{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: slategray;
}

section article p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
/*
En el caso que se repitan valores para una misma etiqueta, se aplica LA ULTIMA
*/
p{
    color: crimson !important;
}
/*Si el CSS tiene el !important, ROMPE TODA JERARQUIA y es mas importante que CSS INLINE, ID, etc.*/

p{
    color: green;
}
/** Creamos una clase para la imagen
Las clases se pueden aplicar a en multiples elementos
**/
.bordesRedondeados{
    border-radius: 15px;
}

.imagen{
    width: 300px;

}

/* IDs - se identifican con "#" y luego es lo mismo que el resto 
A diferencia de las clases, los IDs NO SE PUEDEN REPETIR. Solo son validos
para un unico ID
*/
#noticias {

}